[Unit]
Description=Hunt 2020 Gallery of Tomorrow (badart)

[Service]
Type=simple
Environment=HUNT2020_BASE=/sites/hunt2020
Environment=PYTHONPATH=/sites/hunt2020/snellen/src
WorkingDirectory=/sites/hunt2020/badart
ExecStart=/sites/hunt2020/badart/badart.py \
  --assets_json="${HUNT2020_BASE}/event/puzzles/gallery_of_tomorrow.assets.json"

[Install]
WantedBy=hunt2020.target

