[Unit]
Description=Hunt 2020 The Coven (coven)

[Service]
Type=simple
Environment=HUNT2020_BASE=/sites/hunt2020
Environment=PYTHONPATH=/sites/hunt2020/snellen/src
WorkingDirectory=/sites/hunt2020/coven
ExecStart=/sites/hunt2020/coven/coven.py

[Install]
WantedBy=hunt2020.target

