global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
        stats timeout 30s
        user haproxy
        group haproxy
        daemon

        # Default SSL material locations
        ca-base /etc/ssl/certs
        crt-base /etc/ssl/private

        # Default ciphers to use on SSL-enabled listening sockets.
        # For more information, see ciphers(1SSL). This list is from:
        #  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
        # An alternative list with additional directives can be obtained from
        #  https://mozilla.github.io/server-side-tls/ssl-config-generator/?server=haproxy
        ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS
        ssl-default-bind-options no-sslv3 no-tlsv10 no-tlsv11
        tune.ssl.default-dh-param 2048

        maxconn 40000

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        timeout connect 10s
        timeout client  900s
        timeout server  900s
        maxconn 40000
        balance roundrobin
        option forwardfor

        errorfile 400 /etc/haproxy/errors/400.http
        errorfile 403 /etc/haproxy/errors/403.http
        errorfile 408 /etc/haproxy/errors/408.http
        errorfile 500 /etc/haproxy/errors/500.http
        errorfile 502 /etc/haproxy/errors/502.http
        errorfile 503 /etc/haproxy/errors/503.http
        errorfile 504 /etc/haproxy/errors/504.http

frontend pennypark
        bind :80
        bind :::80
        bind :443 ssl crt /etc/haproxy/pennypark.fun.pem crt /etc/haproxy/star.pennypark.fun.pem alpn h2,http/1.1
        bind :::443 ssl crt /etc/haproxy/pennypark.fun.pem crt /etc/haproxy/star.pennypark.fun.pem alpn h2,http/1.1
        default_backend snellen

        # http -> https
        redirect scheme https code 301 if !{ ssl_fc }
        # Ox puzzle
        redirect location https://assets.pennypark.fun/O.ooo code 301 if { path /O.ooo }
        # Whirlwind puzzle
        redirect location https://snellen-preview.storage.googleapis.com/APZQ1gQFN0ZLCRrL/whirlwind/pin/ger.html code 301 if { path /pinger }

        use_backend wait if { path -m beg /wait/ }
        use_backend wait if { path -m beg /adminwait/ }

        use_backend hat_venn_dor   if { path -m beg /hat }
        use_backend badart         if { path -m beg /art }
        use_backend tugofwar       if { path -m beg /tug }
        use_backend tunnel_of_love if { path -m beg /tun }
        use_backend masked_images  if { path -m beg /mask }
        use_backend sand_witches   if { path -m beg /sand }
        use_backend chatroom       if { path -m beg /chat }

        use_backend nginx          if { path -m beg /.well-known/ }

frontend stats
         bind localhost:8404
         stats enable
         stats uri /stats
         stats refresh 10s
         stats admin if LOCALHOST

backend snellen
        server web 127.0.0.1:2020 check

backend wait
        option prefer-last-server
        cookie STICKY insert indirect nocache domain pennypark.fun
        http-response add-header Access-Control-Allow-Methods     GET
        http-response add-header Access-Control-Allow-Credentials true
        http-response add-header Access-Control-Allow-Origin      https://pennypark.fun
        http-response add-header Access-Control-Allow-Headers     *
        server w1 127.0.0.1:2021 check cookie w1
        server w2 127.0.0.1:2022 check cookie w2
        server w3 127.0.0.1:2023 check cookie w3
        server w4 127.0.0.1:2024 check cookie w4
        server w5 127.0.0.1:2025 check cookie w5

backend nginx
        server nginx 127.0.0.1:8080 check

# Puzzle-specific servers

backend hat_venn_dor
        http-response add-header Access-Control-Allow-Methods     GET,POST
        http-response add-header Access-Control-Allow-Credentials true
        http-response add-header Access-Control-Allow-Origin      https://pennypark.fun
        http-response add-header Access-Control-Allow-Headers     *
        server hat_venn_dor 127.0.0.1:2001 check

backend badart
        http-response add-header Access-Control-Allow-Methods     GET,POST
        http-response add-header Access-Control-Allow-Credentials true
        http-response add-header Access-Control-Allow-Origin      https://pennypark.fun
        http-response add-header Access-Control-Allow-Headers     *
        server badart 127.0.0.1:2002 check

backend tugofwar
        http-response add-header Access-Control-Allow-Methods     GET,POST
        http-response add-header Access-Control-Allow-Credentials true
        http-response add-header Access-Control-Allow-Origin      https://pennypark.fun
        http-response add-header Access-Control-Allow-Headers     *
        server tugofwar 127.0.0.1:2003 check

backend tunnel_of_love
        http-response add-header Access-Control-Allow-Methods     GET,POST
        http-response add-header Access-Control-Allow-Credentials true
        http-response add-header Access-Control-Allow-Origin      https://pennypark.fun
        http-response add-header Access-Control-Allow-Headers     *
        server tunnel_of_love 127.0.0.1:2004 check

backend masked_images
        http-response add-header Access-Control-Allow-Methods     GET,POST
        http-response add-header Access-Control-Allow-Credentials true
        http-response add-header Access-Control-Allow-Origin      https://pennypark.fun
        http-response add-header Access-Control-Allow-Headers     *
        server masked_images 127.0.0.1:2005 check

backend sand_witches
        http-response add-header Access-Control-Allow-Methods     GET,POST
        http-response add-header Access-Control-Allow-Credentials true
        http-response add-header Access-Control-Allow-Origin      https://pennypark.fun
        http-response add-header Access-Control-Allow-Headers     *
        server sand_witches 127.0.0.1:2006 check

backend chatroom
        http-response add-header Access-Control-Allow-Methods     GET,POST
        http-response add-header Access-Control-Allow-Credentials true
        http-response add-header Access-Control-Allow-Origin      https://pennypark.fun
        http-response add-header Access-Control-Allow-Headers     *
        server chatroom 127.0.0.1:2007 check

