[Unit]
Description=Hunt 2020 Sand Witches (sand_witches)

[Service]
Type=simple
Environment=HUNT2020_BASE=/sites/hunt2020
Environment=PYTHONPATH=/sites/hunt2020/snellen/src
WorkingDirectory=/sites/hunt2020/sand_witches
ExecStart=/sites/hunt2020/sand_witches/sand_witches.py

[Install]
WantedBy=hunt2020.target

