[Unit]
Description=Hunt 2020 Main Server (snellen)

[Service]
Type=simple
Environment=HUNT2020_BASE=/sites/hunt2020
WorkingDirectory=/sites/hunt2020/snellen
ExecStart=/sites/hunt2020/snellen/src/main.py \
  --event_dir "${HUNT2020_BASE}/event" \
  --template_path "${HUNT2020_BASE}/snellen/html" \
  --wait_proxies 5 \
  --log_file /var/log/snellen-stdout.log

[Install]
WantedBy=hunt2020.target

