{% extends "admin_base.html" %}
{% block colorscheme %}color-puzzle{% end %}

{% block head %}
{% if puzzle.for_ops_head %}{% raw puzzle.for_ops_head %}{% end %}
<script src="{{team_json_url}}"></script>
{% end %}

{% block title %}Puzzle detail{% end %}

{% block content %}

<table class=info>
  <tr><th>title</th><td class=h1>{{puzzle.title}}</td></tr>
  <tr><th>shortname</th><td class=mono>{{puzzle.shortname}}</td></tr>
  <tr><th>land</th><td>
      <span class="landtag" style="background-color: {{puzzle.land.color}};">{{puzzle.land.symbol}}</span>
      {{puzzle.land.title}}
  </td></tr>
  <tr><th>oncall</th><td>{{puzzle.oncall}}</td></tr>
  <tr>
    <th class=top>author(s)</th>
    <td>
      {% for i, a in enumerate(puzzle.authors) %}
      {% if i %}<br>{% end %}{{a}}
      {% end %}
    </td>
  </tr>
  <tr>
    <th>puzzletron</th>
    <td><a href="https://ptron.teamleftout.org/puzzle.php?pid={{puzzle.puzzletron_id}}">{{puzzle.puzzletron_id}}</a>
  </tr>
  <tr><th>zip version</th><td class=mono>{% if puzzle.zip_version %}{{puzzle.zip_version}}{% end %}</td></tr>
  <tr>
    {% set answers = sorted(list(puzzle.display_answers.values())) %}
    {% if len(answers) == 1 %}
    <th class=top>answer</th>
    {% else %}
    <th class=top>answers ({{len(answers)}})</th>
    {% end %}
    <td class="mono">
      {% for i, a in enumerate(answers) %}
      {% if i > 0 %}<br/>{% end %}
      <b>{{a}}</b>
      {% if a in puzzle.explanations %}<br/><span class="explain">{{puzzle.explanations[a]}}</span>{% end %}
      {% end %}
    </td>
  </tr>
  {% if puzzle.incorrect_responses %}
  <tr>
    <th class=top>incorrect responses</th>
    <td>
      {% for i, (a, r) in enumerate(sorted(puzzle.incorrect_responses.items())) %}
      <p>
	<span class="mono b">{{a}}</span> &mdash;
	{% if r is None %}<i>default</i> (Keep going&hellip;){% else %}{% raw r %}{% end %}
      </p>
      {% end %}
    </td>
  </tr>
  {% end %}
  <tr><th class=center>hint open time</th><td><span id="pphinttime"></span>
      <span id=hinttimechangeentry>
        <input type=text id=newhinttime placeholder="h:mm:ss" size=10 maxlength=8></input>
        <button id=newhinttimesubmit class="miniaction">Submit</button>
      </span>
      <a id=hinttimechange class="miniaction">Change</a>
  </td></tr>

  <tr><th class=top>solves (<span id="ppsolvecount"></span>)</th>
    <td id="ppsolvelist"></td>
  </tr>
  <tr><th class=center>go to team</th>
    <td>
      <div id="teamselect" class="ac-select">
        <input class="ac-select-input"></input>
        <div class="ac-select-dropdown"></div>
      </div>
    </td>
  </tr>
</table>

<div id="for_ops">
  {% raw puzzle.for_ops_body %}
</div>

<h2>Puzzle activity log</h2>
<table id="pplog"></table>

{% end %}
