{% extends "admin_base.html" %}
{% block colorscheme %}color-team{% end %}

{% block title %}Teams{% end %}

{% block content %}

<table id="tltable" class="listtable">
  <thead>
    <tr class="h">
      <th id="tlsort_name">name</th>
      <th id="tlsort_score">score</th>
      <th id="tlsort_pennies">pennies</th>
      <th id="tlsort_beam">beam</th>
      <th id="tlsort_fastpass">PPs</th>
      <th id="tlsort_submits">submits (1h)</th>
      <th id="tlsort_solves">solves (1h)</th>
      <th id="tlsort_lastsubmit">last submit</th>
      <th id="tlsort_lastsolve">last solve</th>
    </tr>
  </thead>
  <tbody id="tlbody">
  </tbody>
</table>

{% end %}
