{% extends "admin_base.html" %}
{% block colorscheme %}color-home{% end %}

{% block title %}Task queue{% end %}


{% block content %}

<table id="taskqueue">
  <tr>
    <th colspan=5 id="filters">Sort by:
      <span id="tqsorts">
        <button class="filterbox left" id="tqsort_age">task age</button><!--
        --><button class="filterbox right off" id="tqsort_team">team</button>
      </span>
      &nbsp;&nbsp;&nbsp;&nbsp;
      Task filter: <span id="tqfilters"></span></th>
  </tr>
  <tr>
    <th class=tqtime>Age</th>
    <th class=tqteam>Team</th>
    <th class=tqwhat>Task</th>
    <th class=tqclaim>&nbsp;</th>
    <th class=tqclaimant>Claimed by</th>
  </tr>
  <tbody id="taskqueuedata"></tbody>
</table>

{% end %}
