{% extends "admin_base.html" %}
{% block colorscheme %}color-content{% end %}

{% block title %}{{puzzle.title}}{% end %}

{% block head %}
{% if head %}{% raw head %}{% end %}
{% end %}


{% block nonnav %}
<div id="nonnav">
  <a href="{{puzzle.land.url}}"><h1 id="landtitle">{{puzzle.land.title}}</h1></a>

  <div id="content">

    <h2 id="puzzletitle"><div id=vspace></div>{% raw supertitle %}{{puzzle.title}}</h2>
    {% if errata %}
    <div id="errata">
      {% for e in errata %}
      <p><b>Erratum posted {{e["when"]}}:</b> {% raw e["text"] %}</p>
      {% end %}
    </div>
    {% end %}
    <div id="puzz">
      {% raw body %}
    </div>
  </div>
</div>
{% end %}
