{% extends "admin_base.html" %}
{% block colorscheme %}color-puzzle{% end %}

{% block title %}Puzzles{% end %}

{% block content %}

<table id="pltable" class="listtable">
  <thead>
    <tr class="h">
      <th id="plsort_order">land</th>
      <th id="plsort_title">title</th>
      <th id="plsort_open" class="r">open</th>
      <th id="plsort_submitted" class="r">submitted</th>
      <th id="plsort_incorrect" class="r">incorrect</th>
      <th id="plsort_solved" class="r">solved</th>
      <th id="plsort_mediansolve" class="r">median solve</th>
      <th id="plsort_unsolved" class="r">unsolved</th>
      <th id="plsort_hint" class="r">hint time</th>
    </tr>
  </thead>
  <tbody id="plbody">
  </tbody>
</table>

{% end %}
