<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% end %}</title>
    <link rel=stylesheet href="{{css}}">
    {% if script %}{% raw script %}{% end %}
    {% block head %}{% end %}
  </head>
  <body>
    <div id="topnav" class="{% block colorscheme %}{% end %}">
      <span id="title">{% block title %}{% end %}</span>
      <span class="spacer"></span>
      <span id="time">
	{% if launch %}
	Hunt launched <span class="counter" data-since="{{launch}}">&mdash;</span> ago.
	{% else %}
	Hunt launches in <span class="counter" data-util="{{until_launch}}">&mdash;</span> ago.
	{% end %}
      </span>
      <span class=username>{{user.fullname}}</span>
      <a href="/logout">logout</a>
    </div>

    <div id="content">
      {% block content %}{% end %}
    </div>
  </body>
</html>


