<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% end %}</title>
    <link rel=stylesheet href="{{css}}">
    {% if script %}{% raw script %}{% end %}
    {% block head %}{% end %}
  </head>
  <body>
    <div id="topnav">
      <span id="title">{% block title %}{% end %}</span>
      <span id="time">
	{% if launched %}
	Hunt launched {{ format_duration(launched) }} ago.
	{% else %}
	Hunt launches in {{ format_duration(until_launch) }}.
	{% end %}
      </span>
      <span class="spacer"></span>
      <span class=username>{{user.fullname}}</span>
      <a href="/logout">logout</a>
    </div>

    {% block content %}{% end %}
  </body>
</html>


