{% extends "admin_base.html" %}
{% block colorscheme %}color-puzzle{% end %}

{% block title %}Puzzles{% end %}

{% block content %}

<table id="pltable">
  <thead>
    <tr>
      <th colspan=5 id="filters">Sort by:
        <span id="plsorts">
          <button class="filterbox left" id="plsort_order">release order</button><!--
          --><button class="filterbox middle off" id="plsort_open"># open</button><!--
          --><button class="filterbox middle off" id="plsort_submitted"># submitted</button><!--
          --><button class="filterbox middle off" id="plsort_solved"># solved</button><!--
          --><button class="filterbox middle off" id="plsort_hint">hint time</button><!--
          --><button class="filterbox right off" id="plsort_title">title</button>
        </span>
    </tr>
    <tr>
      <th>land</th>
      <th>title</th>
      <th class="r">open</th>
      <th class="r">submitted</th>
      <th class="r">solved</th>
      <th class="r">hint time</th>
    </tr>
  </thead>
  <tbody id="plbody">
  </tbody>
</table>

{% end %}
