{% extends "admin_base.html" %}
{% block colorscheme %}color-home{% end %}

{% block title %}Home{% end %}

{% block content %}
<ul id="mainmenu">
  {% if not game_state.event_start_time and user.has_role("control_event") %}
  <li>
    <form action="/admin/change_start" method="get">
      <button type="submit">Change start time</button>
      to
      <input type="text" placeholder="Start time" name="start_time"
	     value="{{expected_start_time_text}}" required>
  </li>
  {% end %}
  <li><a href="/admin/bigboard">Big board</a></li>
  <li><a href="/admin/taskqueue">Task queue</a></li>
  <li><a href="/admin/teams">Team list</a></li>
  <li>
    <label>go to team</label>
    <div id="teamselect" class="ac-select">
      <input class="ac-select-input"></input>
      <div class="ac-select-dropdown"></div>
    </div>
  </li>

  <li><a href="/admin/puzzles">Puzzle list</a></li>
  <li>
    <label>go to puzzle</label>
    <div id="puzzleselect" class="ac-select">
      <input class="ac-select-input"></input>
      <div class="ac-select-dropdown"></div>
    </div>
  </li>

  <li><a href="/admin/users">Admin users</a></li>
  <li><a href="/admin/server">Server info</a></li>
</ul>
{% end %}
