{% extends "admin_base.html" %}
{% block colorscheme %}darkblue{% end %}

{% block title %}Team "{{team.name}}"{% end %}

{% block content %}

<h2>Warning!</h2>

<p>You are about to start seeing the site and acting as a player on <b>{{team.name}}</b>.</p>

<p><b>Any changes you make will be real.</b>  If you submit an answer,
or solve a puzzle, or request a hint, then <i>that action will be done
for that team</i>.  It is not a simulation of "what would happen".</p>

<p>To acknowledge this warning and become a member
of <b>{{team.name}}</b>, <a href="/admin/become/{{team.username}}/confirmed">click
here.</p>

{% end %}
