<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=1200, initial-scale=0">
    <title>{% block title %}{% end %}</title>
    <link rel=stylesheet href="{{css}}">
    {% if script %}{% raw script %}{% end %}
    {% if json_data %}{% raw json_data %}{% end %}
    {% block head %}{% end %}
    <script>
      var team_username = {% raw team_username %};
      var puzzle_id = {% raw puzzle_id %};
    </script>
  </head>
  <body>
    <div id="topnav" class="{% block colorscheme %}{% end %}">
      <span id="home"><a href="/admin"><img src="{{home}}" style="margin-top: 8px;"></a></span>
      <span id="title">{% block title %}{% end %}</span>
      <span class="spacer"></span>
      <span id="time">
	{% if launch %}
	Hunt launched <span class="counter" data-since="{{launch}}">&mdash;</span> ago.
	{% else %}
	Hunt launches in <span class="counter" data-until="{{expected_launch}}">&mdash;</span>.
	{% end %}
      </span>
      {% block rightnav %}
      <span class=username>{{user.fullname}}</span>
      <a href="/logout">logout</a>
      {% end %}
    </div>

    <div id="content">
      {% block content %}{% end %}
    </div>
  </body>
</html>


