{% extends "admin_base.html" %}
{% block colorscheme %}darkergray{% end %}

{% block title %}Home{% end %}



{% block content %}
<ul>
  {% if not game_state.event_start_time and user.has_role("control_event") %}
  <li>
    <form action="/change_start" method="get">
      <button type="submit">Change start time</button>
      to
      <input type="text" placeholder="Start time" name="start_time"
	     value="{{expected_start_time_text}}" required>
  </li>
  {% end %}
  <li><a href="/admin/teams">Team list</a></li>
  <li><a href="/admin/puzzles">Puzzle list</a></li>
  <li><a href="/admin_users">Admin users</a></li>
  {% if user.has_role("control_event") %}
  <li><a href="/stop_server">Stop server</a></li>
  {% end %}
</ul>
{% end %}
