{% extends "admin_base.html" %}
{% block colorscheme %}color-team{% end %}

{% block title %}Team detail{% end %}

{% block head %}
<script>var label_info = {% raw label_info %};</script>
{% end %}

{% block content %}

<table class=info>
  <tr><th>team</th><td class=h1>{{team.name}}</td></tr>
  <tr><th>username</th><td class=mono>{{team.username}}</td></tr>
  <tr><th></th><td><a href="/admin/become/{{team.username}}">become this team</a></td></tr>
  <tr><th>location</th><td>{{team.attrs.get("location", "Unknown")}}
      {% if team.remote_only %}<span class=remote>Remote Only</span>{% end %}
  </td></tr>
  <tr><th>phone</th><td>{{team.attrs.get("phone", "Unknown")}}</td></tr>
  <tr><th>size</th><td>{{team.size}}</td></tr>
  <tr><th class=center>pennypasses</th><td>
      <span id=tpfastpass></span>
      <button id=enablebestow class=action>Enable &#x25b6;&#xfe0e;&#x25b6;&#xfe0e;</button>
      <button id=bestowfastpass class=action disabled>Bestow PennyPass</button>
  </td></tr>
  <tr><th>score</th><td id="tpscore"></td></tr>
  <tr><th>progress</th>
    <td><div id="tplandlabels"></div><div id="tpsvg"></div></td>
  </tr>
  <tr><th class=top>open puzzles (<span id=tpopencount></span>)</th>
    <td id=tpopenlist></td>
  </tr>
  <tr><th class=center>go to puzzle</th>
    <td>
      <div id="puzzleselect" class="ac-select">
        <input class="ac-select-input"></input>
        <div class="ac-select-dropdown"></div>
      </div>
    </td>
  </tr>
</table>

<h2>Add note</h2>
<div id="tpnotecontainer">
  <textarea rows=6 id="tpnotetext"></textarea>
  <div id="tpnotebuttons">
    <button id="tpaddnote" class="action">Add note</button>
    <span id="hspacer"></span>
    <p class=note>Notes are not visible to teams, only to other Hunt HQ
      staffers.<p>
  </div>
</div>

<h2>Activity log</h2>
<table id="tplog"></table>

{% end %}
