{% extends "admin_base.html" %}
{% block colorscheme %}color-users{% end %}


{% block title %}Users{% end %}

{% block content %}
<table id="user-roles">
  <tr class=darkblue>
    <th class=left>Username</th>
    <th class=left>Full Name</th>
    {% for role in roles %}
    <th class=mono>{{role}}</th>
    {% end %}
  </tr>
  {% for i, u in enumerate(users) %}
  <tr {% if i%3 == 2 %}class=h{% end %}>
    <td class=mono>{{u.username}}</td>
    <td>{{u.fullname}}</td>
    {% for role in roles %}
    <td class="admin-role">
      {% if user.has_role("create_users") and (u is not user or role != "create_users") %}
      <input type="checkbox" id="{{u.username}}::{{role}}"{% if u.has_role(role) %} checked{% end %}>
      {% else %}
      {% if u.has_role(role) %}&#x2713;{% end %}
      {% end %}
    </td>
    {% end %}
  </tr>
  {% end %}
</table>

{% if user.has_role("create_users") %}
<div class=box>
<form action="/admin/create_user" method="post">
  <h2>Create new admin user</h2>
  <input type="text" placeholder="Username" name="username" required>
  <input type="text" placeholder="Full Name" name="fullname" required>
  <input type="password" placeholder="Password" name="password" required>
  <button type="submit">Create</button>
</form>
</div>
{% end %}

<div class=box>
<form action="/admin/change_password" method="post">
  <h2>Change password</h2>
  {% if user.has_role("create_users") %}
  <input type="text" placeholder="Username" name="username" value="{{user.username}}" required>
  {% else %}
  <input type="password" placeholder="Current password" name="password" required>
  {% end %}
  <input type="password" placeholder="New Password" name="newpassword" required>
  <input type="password" placeholder="Confirm new password" name="confirm" required>
  <button type="submit">Change</button>
</form>
</div>


{% end %}
