{% extends "player_base.html" %}

{% block title %}Events{% end %}

{% block topnav_extraright %}
{% if park_open %}
{% if solved %}
<a id="submit" class="submitsolved">Solved</a>
{% else %}
<a id="submit">Submit</a>
{% end %}
{% end %}
<a id="puzzerr"{% if not puzzle.errata%} class="hidden"{% end %} href="/errata" title="Errata">!</a>
<a id="puzzhints"{% if puzzle not in team.hints_open %} class="hidden"{% end %} href="/guest_services?p={{puzzle.shortname}}" title="Hints">H</a>
{% end %}

{% block head %}
{% if last_hint %}<script>var last_hint = {{last_hint}};</script>{% end %}
{% end %}

{% block midnav %}
{% if park_open %}
<div id="submitpanel">
  <div id="submitdata">
    <div id="submit_table_scroll">
      <table id="submit_table">
        <thead>
          <tr><th id="st_answer">Submission</th><th id="st_time">Submit time</th><th id="st_result">Result</th></tr>
        </thead>
        <tbody id="submit_table_body">
        </tbody>
      </table>
    </div>
    <div id="submitentry">
      <input type=text maxlength=40 id="answer" name="answer" spellcheck="false">
      <button class="action" id="submitsubmit">Submit</button>
    </div>
    <span id="top_note"></span>
    <span id="submitinstr">When you attend an event you'll receive an answer.  Enter it here to receive your reward!</span>
  </div>
</div>
{% end %}
{% end %}


{% block content %}
<div id="content">
  <h1 id="pagetitle">Events</h1>

  {% for i, e in enumerate(events) %}
  <h3 class=eventtitle>{{e.title}} <span class=eventcomplete id="event{{i}}">{{"Completed" if completed[i] else ""}}</span></h3>
  <p class=eventtime>{{e.location}} &bull; {{ e.time if e.time else e.team_time[team] }}</p>
  <p class=eventtext>{% raw e.text %}</p>
  {% end %}

</div>

{% end %}
