{% extends "player_base.html" %}

{% block title %}PennyPasses{% end %}

{% block content %}
<div id="content">
  <h1 id="pagetitle">PennyPasses</h1>

  <p>PennyPasses give you early access to the next attraction in a Penny Park land of your choice!</p>

  <p id="fphavenone">You don't have any PennyPasses available right now.</p>
  <div id="fphavesome">
    <p>You have PennyPasses available, expiring in:</p>
    <ul id="fpexpirelist">
    </ul>

    <p id="fpunusable">There aren't any lands in which you can use a PennyPass right now.</p>
    <div id="fpusable">
      <p>Select a land to use your PennyPass in:</p>
      <div id="fpicons"></div>
      <div id="fpfinal">
        <button id="fpuse">Use PennyPass!</button>
      </div>
    </div>
  </div>
</div>

{% end %}
