{% extends "player_base.html" %}

{% block title %}FastPasses{% end %}

{% block content %}
<div id="content">
  <h1 id="pagetitle">FastPasses</h1>

  <p>FastPasses give you early access to the next attraction in a Penny Park land of your choice!</p>

  <p id="fphavenone">You don't have any FastPasses available right now.</p>
  <div id="fphavesome">
    <p>You have FastPasses available, expiring in:</p>
    <ul id="fpexpirelist">
    </ul>

    <p id="fpunusable">There aren't any lands in which you can use a FastPass right now.</p>
    <div id="fpusable">
      <p>Click any of these links to use a FastPass in:</p>
      <ul id="fpusablelist">
      </ul>
    </div>
  </div>
</div>

{% end %}
