{% extends "player_base.html" %}

{% block title %}Guest Services{% end %}

{% block content %}
<div id="content" class="{{page_class}}">
  <h1 id="pagetitle">Guest Services</h1>
  <p class="disclaimer">This is not a puzzle.</p>

  <h2>PennyPasses</h2>

  <p>PennyPasses give you early access to the next attraction in a Penny Park land of your choice!</p>

  <p id="fphavenone">You don't have any PennyPasses available right
  now.  Return to this page when you receive one in order to use
  it!</p>
  <div id="fphavesome">
    <p id="fpone">You have a PennyPass available.  Be sure to use it before it expires!</p>
    <p id="fpsome">You have PennyPasses available.  Be sure to use them before they expire!</p>
    <div id="fppasses"></div>

    <p id="fpunusable">There aren't any lands in which you can use a PennyPass right now.</p>
    <div id="fpusable">
      <p>Select a land to use your PennyPass in:</p>
      <div id="fpicons"></div>
      <div id="fpfinal">
        <button id="fpuse">Use PennyPass!</button>
      </div>
    </div>
  </div>

  <h2>Hints</h2>

  <p>For some puzzles, hints may become available from our Guest
    Services team.  There's no cost for requesting a hint, but you can
    only request one at a time.  You'll need to wait to receive a
    reply before requesting another.<p>

  <p id="hintnone">Hints aren't available for any puzzles yet.</p>
  <div id="hintsome">
    <div id="hintheader">
      <p>Puzzle: <select id="hintselect"></select></p>
      <span class="spacer"></span>
      <p id="hintcurr"></p>
    </div>
    <div id="hintui">
      <div id="hinthistory"></div>
      <div id="hintentry">
        <textarea rows=3 id="hinttext"></textarea>
        <button class="action" id="hintrequest">Send request</button>
      </div>
    </div>
  </div>

  <h2>Other</h2>

  {% if team.score > 0 %}
  <p><input type="checkbox" id="mutebox"><label for="mutebox">Play sound on solve</label></p>
  {% end %}

  <div class="entry">
    <input type="text" id="newphone" class="entryentry" size=30 value={{team.attrs.get("phone", "")}}>
    <button id="newphonesubmit" class="entrysubmit">Update contact phone</button>
    <span id="newphonesaved">Contact phone updated.</span>
  </div>

  <p>If you need to contact Hunt HQ for any other non-emergency
  reason,
  email <a href="mailto:guestservices@pennypark.fun">guestservices@pennypark.fun</a>.</p>

</div>

{% end %}
