{% import time %}
<!DOCTYPE html>
<html>
  <head>
    <link rel=stylesheet href="/event.css">
    {% raw script %}
  </head>
  <body>
    <p>This is the event home page for {{team.team_name}}!</p>

    {% if team.event_start %}
    Event started at {{time.ctime(team.event_start)}} (for this team).
    {% else %}
    <a href="/DEBUGstartevent">Start event (for this team)</a>
    {% end %}

    <ul>
    {% for p, s in team.puzzle_state.items() %}
    {% if s.state == s.OPEN %}
    <li><a href="/puzzle/{{p.shortname}}/">{{p.title}}</a></li>
    {% elif s.state == s.SOLVED %}
    <li><a href="/puzzle/{{p.shortname}}/">{{p.title}}</a> &mdash; solved </li>
    {% end %}
    {% end %}
    </ul>

    <p><a href="/logout">Logout</a></p>
  </body>
</html>
