<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=1200, initial-scale=0">
    <meta charset="utf-8">
    <title>Penny Park</title>
    <link rel=stylesheet href="{{c}}">
    <script>
      sessionStorage.removeItem("serial");
    </script>
  </head>
  <body>
    <img src="{{logo}}">
    <form action="/login_submit" method="post">
      <input type="text" placeholder="Username" name="username"
	     {% if default_username %}value="{{default_username}}"{% end %}
	     spellcheck="false" required>
      <input type="password" placeholder="Password" name="password"
	     {% if default_password %}value="{{default_password}}"{% end %}
	     required>
      {% if target %}
      <input type="hidden" name="target" value="{{target}}"/>
      {% end %}
      <button type="submit">Login</button>
      {% if bad_login %}<b>Bad login.</b>{% else %}<b>&nbsp;</b>{% end %}
    </form>
  </body>
</html>




