{% extends "player_base.html" %}

{% block title %}Penny Park{% end %}

{% block topnav_startedleft %}
{% end %}
{% block topnav_startedright %}
<div id="dropdown">
  <button id="dropbtn">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 -1 24 23">
      <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" fill="white"/>
    </svg>
  </button>
  <div id="dropdown-content">
    <a href="/videos">Videos</a>
    <a href="/events">Events</a>
    <a href="/health_and_safety">Health & Safety</a>
    <a href="/logout">Logout</a>
  </div>
</div>
{% end %}

{% block content %}
<div id="clouds"></div>

<p id="openwait">Penny Park should open in
  <span id="opencountdown" class="counter" data-until="{{open_time}}">..</span>.
</p>

<div id="trees"></div>
{% end %}
