{% extends "player_base.html" %}

{% block title %}Penny Park{% end %}

{% block topnav_startedleft %}
{% end %}
{% block topnav_startedright %}
<div id="dropdown">
  <button id="dropbtn">Useful links</button>
  <div id="dropdown-content">
    <a href="/events">Events</a>
    <a href="/health_and_safety">Health & Safety</a>
    <a href="/logout">Logout</a>
  </div>
</div>
{% end %}

{% block content %}
<div id="clouds"></div>

<p id="openwait">Penny Park should open in
  <span id="opencountdown" class="counter" data-until="{{open_time}}">..</span>.
</p>

<div id="trees"></div>
{% end %}
