<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=1200, initial-scale=0">
    <meta charset="utf-8">
    <link rel=stylesheet href="{{css}}">
    <title>{% block title %}{% end %}</title>
    {% if script %}{% raw script %}{% end %}
    {% if json_data %}{% raw json_data %}{% end %}
    {% block head %}{% end %}
  </head>
  <body>
    <div id="topnav">
      <span id="teamname">{{team.team_name}}</span>
      <span>
	<a href="/">Penny Park</a>
	{% block crumbs %}{% end %}
      </span>
      {% block topnav_extraleft %}{% end %}
      <span class="spacer"></span>
      {% block topnav_extraright %}{% end %}
      <a href="/pins">Pins</a>
      <a href="/log">Activity Log</a>
      <a href="/logout">Logout</a>
    </div>

    {% block midnav %}{% end %}

    <div id="content">
      {% block content %}{% end %}
    </div>
  </body>
</html>


