<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=1200, initial-scale=0">
    <meta charset="utf-8">
    {% for c in css %}
    <link rel=stylesheet href="{{c}}">
    {% end %}
    <title>{% block title %}{% end %}</title>
    {% if script %}{% raw script %}{% end %}
    {% if json_data %}{% raw json_data %}{% end %}
    {% block head %}{% end %}
  </head>
  <body>
    <div id="topnav">
      {% block topnav_startedleft %}
      {% if park_open %}
      <span>
        <a href="/">Map</a>
      </span>
      {% end %}
      <div id="dropdown">
        <button id="dropbtn">Useful links</button>
        <div id="dropdown-content">
          {% if park_open %}
          <a href="/pins">Pins</a>
          <a href="/log">Activity Log</a>
          {% else %}
          <a href="/">Home</a>
          {% end %}
          <a href="/health_and_safety">Health &amp; Safety</a>
          <a href="/logout">Logout</a>
        </div>
      </div>
      {% end %}
      {% block topnav_extraleft %}{% end %}
      <span class="spacer"></span>
      {% block topnav_extraright %}{% end %}
      {% block topnav_startedright %}
      {% if park_open %}<span class=buzz>Buzz: <span id=score>{{team.score}}</span></span>{% end %}
      {% end %}
    </div>

    {% block midnav %}{% end %}

    <div id="nonnav">
    {% block content %}<div id="content"></div>{% end %}
    </div>
  </body>
</html>


