{% extends "player_base.html" %}

{% block title %}{{puzzle.title}}{% end %}

{% block crumbs %}
&gt; <a href="{{puzzle.land.url}}">{{puzzle.land.title}}</a>
{% end %}

{% block topnav_extraright %}
<a id="submit">Submit</a>
<a id="hints">Hints</a>
{% end %}

{% block midnav %}
<div id="hintpanel">
  <textarea rows=3 id="hinttext"></textarea>
  <button id="hintrequest">Request hint</button>
</div>
<div id="submitpanel">
  <div id="thumb" style="width: {{thumb.size[0]}}px; height: {{thumb.size[1]}}px;">
    <img class="base" src="{{thumb.url}}"></img>
  </div>
  <div id="submit_table"></div>
</div>
{% end %}


{% block head %}
{% if puzzle.html_head %}{% raw puzzle.html_head %}{% end %}
{% end %}


{% block content %}
<h1>{{puzzle.title}}</h1>
<div id="puzz">
  {% raw puzzle.html_body %}
</div>
{% end %}
