{% extends "player_base.html" %}

{% block title %}Park Rules and Guidelines{% end %}

{% block content %}
<div id="content" class="{{page_class}}">
  <h1 id="pagetitle">Park Rules and Guidelines</h1>
  <p class="disclaimer">This is not a puzzle.</p>

  <p>We hope you have a wonderful time in Penny Park this weekend! In
  order to ensure maximum enjoyment for all you brilliant puzzlers in
  attendance, we want to make sure that you are familiar with our Park
  Rules and Guidelines.</p>

  <h3>Generating Buzz</h3>
  <p>We’re looking forward to you visiting all the attractions in the
  park.  Every time you successfully experience an attraction, you’ll
  generate a small amount of Buzz about this place. The more Buzz you
  create, the more we’ll be able to open up new areas of the park for
  you to explore. And… if you’re able to generate <i>enough</i> Buzz,
  we just might not have to close the park.</p>

  <h3>Solving Attractions</h3>
  <p>We hear you’re experts in dealing with puzzles. Fantastic! When
  you think you have an answer for a puzzle, click on the SUBMIT
  button at the top of your screen. This will pull down an area where
  you’ll be able to enter your answer.  Once you submit, Penny Park
  will automatically check to see if the answer is correct and let you
  know instantly. <b>You won’t receive a phone call confirming an
  answer.</b></p>

  <h3>Submit Queue and Rate Limiting</h3>
  <p>This new ease of checking answers invites an obvious question
  &mdash; should you pepper an attraction with dozens of faintly
  plausible answers just on the off-chance they’re right?  We’d prefer
  that you don’t. We’re excited to offer the convenience of
  instantaneous answer checking, but this depends on park guests not
  abusing it.  We expect both forward and backsolving, and that’s
  fine, but we kindly ask you to submit answers only when you have
  some confidence in them.  In addition, Penny Park has guardrails to
  discourage wild guessing.  If you submit many answers rapidly for a
  given attraction, the park may queue up and delay checking those
  guesses.  If that happens, you can remove queued answers, but the
  delay will remain.  (If you feel you've been incorrectly or egregiously
  delayed, please contact
  <a href="mailto:guestservices@pennypark.fun">guestservices@pennypark.fun</a>.)
  </p>


  <h3>PennyPasses</h3>
  <p>How often have you spent time at a park waiting for hours just to
  see something new and exciting? That’s why we’re proud to offer our
  guests PennyPasses, which are convenient ways to get immediate
  access to a NEW attraction in the land of your choice. Passes will
  be awarded for attending our exciting <a href="/events">Events</a>,
  while others may be awarded over time as a way of making sure that
  there’s always something fun to see or do!</p>

  <p>You will receive a notification when you’ve acquired a pass. To
  redeem one, go to Guest Services and select for which land you’d
  like to see a new puzz… oh, we mean, attraction!</p>

  <p class=b>Note: PennyPasses expire after a certain amount of time,
  so don’t forget to use them!!</p>

  <h3><a name="hints">Hints</a></h3>
  <p>We know how frustrating it can be to visit an attraction and not
  even know what’s going on. Do I stand up or lie down on this ride?
  How can I eat that corn dog without getting sick?  Why does this
  roller coaster look like a Sudoku?</p>

  <p>At times in the hunt, you might get a notification that hints are
  available for a certain puzzle. To take a hint,
  <a href="/guest_services">visit Guest Services</a>
  and click on the appropriate puzzle. Fill out the form, telling us
  what you’ve tried (e.g. “I jumped off the ferris wheel. Was that
  correct?”) and one of our Guest Services staff will respond
  shortly.</p>

  <p>Our goal with hints is to provide assistance to visitors who
  might acutely benefit from a few well-placed bits of advice on how
  to experience our attractions.  As such, taking a hint when they are
  available comes at no cost; if you’re offered a hint on an
  attraction, we suggest you accept this offer!  In addition, after
  taking a hint on an attraction, you can continue to follow up with
  Guest Services for more details on that same attraction.</p>

  <p>Finally, know that not everyone will be offered hints.  In
  particular, we expect the most competitive park-goers will see (and
  need!) none at all.</p>

  <h3>The Golden Rule</h3>
  <p>At Penny Park, we operate under the principle of “Play fair. Have
  fun.” Please refrain from sharing answers with other teams, hacking
  the park server or the code of a particular puzzle, or anything else
  which feels beyond the spirit of the event.</p>

  <p>Thanks for visiting Penny Park!  We hope you have a glorious
  weekend!</p>

  <p class=i>&mdash; Penny, the Loonie Toonies, and the rest of us at
  Penny Park Guest Services</p>

</div>
{% end %}
