{% extends "player_base.html" %}

{% block title %}Heart of the Park{% end %}

{% block topnav_extraright %}
<a id="submit">Submit</a>
<a id="puzzerr"{% if not puzzle.errata%} class="hidden"{% end %} href="/errata" title="Errata">!</a>
<a id="puzzhints"{% if puzzle not in team.hints_open %} class="hidden"{% end %} href="/guest_services?p={{puzzle.shortname}}" title="Hints">H</a>
{% end %}

{% block head %}
{% if last_hint %}<script>var last_hint = {{last_hint}};</script>{% end %}
{% end %}

{% block midnav %}
<div id="submitpanel">
  <div id="submitdata">
    <div id="submit_table_scroll">
      <table id="submit_table">
        <thead>
          <tr><th id="st_answer">Submission</th><th id="st_time">Submit time</th><th id="st_result">Result</th></tr>
        </thead>
        <tbody id="submit_table_body">
        </tbody>
      </table>
    </div>
    <div id="submitentry">
      <input type=text maxlength=40 id="answer" name="answer">
      <button class="action" id="submitsubmit">Submit</button>
    </div>
    <span id="top_note"></span>
    <span id="submitinstr">Enter the answers you receive from each segment of the runaround.</span>
  </div>
</div>
{% end %}


{% block content %}
<div id="content">
  <h1 id="pagetitle">Heart of the Park</h1>

  <p class=flavor>You have entered a small underground chamber below
  the center of the park. The room appears to be some sort of
  entryway, but there is no other exit. At one end of the room, there
  is writing on the wall. It reads:</p>

  <p>The park is dying. You must save it.</p>

  <p>The pennies you’ve generated are the first step. You’ll need them again, later.</p>

  <p>You’ve done a fantastic job exploring the park. You must now
  <i>create emotional connections</i> to the park and each of its 10
  lands. Visit them again and learn what is asked of you. Enter your
  discoveries on this page for more information. When the time is
  right, a different one of you will need to perform each task that
  you discover.</p>

  <p>Now go forth with the spirit of wonder in your hearts.</p>

  {% for s in segments %}
  <h3 class=segmenttitle>{{s.shortname}}
    <span class=segmentcomplete id="segment_{{s.shortname}}">
      {{s.display_answer if s.answer in ps.answers_found else ""}}
    </span>
  </h3>
  <p class=segmenttext>{{s.shortname}}</p>
  {% end %}

</div>

{% end %}
