<html>
  <head>
    <title>Snellen preview server (saved puzzles)</title>
    <style>
      body { font-family: sans-serif; }
      li.puzzle { margin-top: 16px;  font-family: monospace; }
      .other { color: #999; }
    </style>
  </head>
  <body>
    <h1>Snellen preview server (saved puzzles)</h1>

    <ul>
      {% for shortname, p in sorted(puzzles.items()) %}
      <li class=puzzle><b>{{ shortname }}</b>
        <ul>
          {% for i, (timestamp, item) in enumerate(reversed(sorted(p.items()))) %}
          <li class={% if i==0 %}first{% else %}other{% end %}>{{timestamp}} ({{item.who}}) <a href="{{item.puzzle_url}}">puzzle</a> <a href="{{item.meta_url}}">meta</a></li>
          {% end %}
        </ul>
      {% end %}
    </ul>

  </body>
</html>
