{% extends "player_base.html" %}

{% block title %}Videos{% end %}


{% block content %}
<div id="content">
  <h1 id="pagetitle">Videos</h1>

  <p style="border: 2px dotted blue; padding: 8px;">
    <b>Note to testsolvers:</b> For the actual hunt, solving metas will
    unlock various backstory videos that show you the story of Penny and
    her grandmother Judy, the original founder of Penny Park.  During
    the testsolve you will see rough storyboard videos (and not the
    final polished ones).  Because our test is limited in scope, the
    videos won’t unlock at times that fit with the timeline of the
    testsolve.  We are also giving you one video to start, which will
    not happen in the actual hunt.
  </p>

  <div id="videolist"></div>
</div>
{% end %}
