{% extends "player_base.html" %}

{% block title %}Workshop{% end %}

{% block topnav_extraright %}
{% if solved %}
<a id="submit" class="submitsolved">Solved</a>
{% else %}
<a id="submit" style="display: none;">Submit</a>
{% end %}
<a id="puzzhints"{% if puzzle not in team.hints_open %} class="hidden"{% end %} href="/guest_services?p={{puzzle.shortname}}" title="Hints">H</a>
{% end %}

{% block head %}
{% if last_hint %}<script>var last_hint = {{last_hint}};</script>{% end %}
{% end %}

{% block midnav %}
{% if park_open %}
<div id="submitpanel">
  <div id="submitdata">
    <div id="submit_table_scroll">
      <table id="submit_table">
        <thead>
          <tr><th id="st_answer">Submission</th><th id="st_time">Submit time</th><th id="st_result">Result</th></tr>
        </thead>
        <tbody id="submit_table_body">
        </tbody>
      </table>
    </div>
    <div id="submitentry">
      <input type=text maxlength=40 id="answer" name="answer" spellcheck="false">
      <button class="action" id="submitsubmit">Submit</button>
    </div>
    <span id="top_note"></span>
    <span id="submitinstr">Use this to submit the answer you obtained from the pressed pennies you've received.</span>
  </div>
</div>
{% end %}
{% end %}


{% block content %}
<div id="content">
  <h1 id="pagetitle">Workshop</h1>
  <div id="errata"></div>

  <p>The Workshop is Penny Park’s R&D lab, as well as the storage site
  of various mysterious machines and contraptions. Its denizen is the
  Tinkerer, a quirky individual who may, from time to time, have a
  task for you.</p>

  {% if team.remote_only %}
  <p>Visiting the workshop requires being on the MIT campus.  Sorry.</p>
  {% else %}
  <p id="wsearned">Visit the Workshop in room XX-XXX and ask the Tinkerer for the <span id="wsearnednames"></span>.</p>

  <div id="wscoll">
    <p>You've already collected the following pennies:</p>
    <ul id="wscollnames">
    </ul>
  </div>
  {% end %}
</div>

{% end %}
