#nonnav {
    min-height: calc(100vh - 44px - 240px);
    background: url(@@STATIC:mainmap/land_inside_trees.png@@) bottom repeat-x,
                #c3dffb;
    padding: 40px 0 200px 0;
}

#content {
    background-color: #f8f8f8;
    box-shadow: 3px 3px 10px #00000055;
    padding: 20px 40px;
}

#overcontent {
    display: none;
}

@media print {
    #content { border: none; padding: none; box-shadow: none; }
}

