@import url('https://fonts.googleapis.com/css?family=Londrina+Solid:400&display=block');

#nonnav {
    min-height: calc(100vh - 44px - 240px);
    background: url(@@STATIC:mainmap/land_inside_trees.png@@) bottom repeat-x,
                #c3dffb;
    padding: 40px 0 200px 0;
}

#content {
    background-color: #f8f8f8;
    box-shadow: 3px 3px 10px #00000055;
    padding: 20px 40px;
}

#overcontent {
    display: none;
}

h1#pagetitle {
    font-family: 'Londrina Solid', 'Merriweather Sans', sans-serif;
    font-size: 360%;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

h2, h3 {
    font-family: 'Londrina Solid', 'Merriweather Sans', sans-serif;
    letter-spacing: 0.02em;
    font-weight: normal;
    font-weight: 400;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}


@media print {
    #content { border: none; padding: none; box-shadow: none; }
}

