@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans&display=block');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=block');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=block');

body {
    font-family: 'Merriweather Sans', sans-serif;
    background-image: url("https://snellen.storage.googleapis.com/grass.jpg");
    margin: 0;
}

input, button {
    font-family: 'Merriweather Sans', sans-serif;
}

.disclaimer {
    text-align: center;
    font-style: italic;
}

#pins li {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 20px;
}

#pins li img { margin-right: 20px; }

#pins { font-size: 120%; }
#pins .no { color: #999; }

#pins .no img { filter: grayscale(80%);
		opacity: 0.4;
	      }

#topnav {
    font-family: 'Merriweather', sans-serif;

    min-width: 1060px;
    height: 24px;
    font-size: 18px;
    background: #666;
    color: #eee;
    border-bottom: 1px solid black;
    padding: 8px 20px;

    display: flex;
    flex-direction: row;
    align-items: center;

    z-index: 1000;
    position: relative;

    user-select: none;
}

#topnav > span, #topnav > a {
    margin: 0 20px;
}

#teamname {
    font-weight: bold;
}

/* The spacer should take up all the extra space, forcing the items
   before it to the left and those after it to the right. */
#topnav .spacer {
    flex-grow: 100;
}

#topnav a {
    text-decoration: none;
    color: #eee;
}

a#submit {
    font-weight: bold;
    cursor: pointer;
    padding: 2px 8px;
    background-color: #eee;
    color: black;
    text-transform: uppercase;
}

a#submit:hover {
    background-color: #ccc;
    color: #c00;
}

#content {
    font-size: 16px;
    width: 1020px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 60px 40px 60px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px black;
}

/** submit panel **/

.submit-panel {
    background-color: #888888ee;
    border-bottom: 2px solid black;

    height: 0;
    visibility: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;


    z-index: 999;
    position: static;
    overflow: hidden;
}

#submit_table {
    overflow: auto;
    max-height: 260px;
}

@keyframes slide {
    0% { height: 0px; visibility: hidden; }
    1% { visibility: visible; }
    100% { height: 300px; visibility: visible; }
}

@keyframes slide2 {
    0% { height: 0px; visibility: hidden; }
    1% { visibility: visible; }
    100% { height: 300px; visibility: visible; }
}

.submit-panel-visible {
    animation: slide 150ms ease-out forwards;
}
.submit-panel-invisible {
    animation: slide2 150ms ease-in reverse;
}

/** submit panel thumbnail attraction image */

div#thumb {
    position: relative;
    margin: 20px;
}

div#thumb img.base {
    position: absolute;
}

div#thumb .icon {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    animation: fadeIn 2s ease-out forwards;
    animation-delay: 1s;
}





table.submissions {
    padding: 20px;
}
table.submissions td { vertical-align: middle; }
table.submissions th { text-align: left; }

.submit-empty {
    padding-top: 8px;
    font-style: italic;
    text-align: center;
}

.submit-time {
    width: 140px;
}
td.submit-time {
    padding-top: 8px;
}
.submit-state {
    width: 120px;
}
td.submit-state {
    padding-right: 8px;
}
.submit-answer {
    width: 400px;
}
td.submit-answer {
    font-weight: bold;
    font-family: 'Inconsolata', monospace;
}

.submit-cancel {
    color: #999999;
    padding-right: 8px;
}

.submit-correct {
    padding: 0px 4px;
    font-weight: bold;
    font-size: 70%;
    border: 1px solid #006600;
    border-radius: 4px;
    color: #003300;
    background-color: #ddffdd;
    text-transform: uppercase;
}

.submit-partial {
    padding: 0px 4px;
    font-weight: bold;
    font-size: 70%;
    border: 1px solid #666600;
    border-radius: 4px;
    color: #333300;
    background-color: #ffffdd;
    text-transform: uppercase;
}

.submit-incorrect {
    padding: 0px 4px;
    font-weight: bold;
    font-size: 70%;
    border: 1px solid #990000;
    border-radius: 4px;
    color: #660000;
    background-color: #ffdddd;
    text-transform: uppercase;
}

.submit-pending {
    padding: 0px 4px;
    margin-left: 8px;
    font-weight: bold;
    font-size: 70%;
    border: 1px solid #666666;
    border-radius: 4px;
    color: #666666;
    background-color: #dddddd;
    text-transform: uppercase;
}

.submit-moot {
    padding: 0px 4px;
    font-weight: bold;
    font-size: 70%;
    border: 1px solid #666666;
    border-radius: 4px;
    color: #666666;
    background-color: #dddddd;
    text-transform: uppercase;
}

.submit-timer {
    font-weight: bold;
    font-size: 84%;
}

.submit-extra {
    padding-left: 16px;
}

input#answer {
    font-family: 'Inconsolata', monospace;
}

/** puzzle content **/

.flavor { font-style: italic; }
.sans-serif { font-family: 'Merriweather Sans', sans-serif; }
.serif { font-family: 'Merriweather', serif; }
.mono { font-family: 'Inconsolata', monospace; }
.answer { font-weight: bold; text-transform: uppercase; }

/** notifications **/

div.toasts {
    width: 300px;
    position: fixed;
    right: 20px;
    top: 45px;
    overflow: auto;
}

div.toast {
    margin: 12px 0px;
    padding: 16px;
    color: white;
    box-shadow: #999999 0 0 12px 0;
    box-sizing: border-box;
    border-radius: 12px;
    animation: fadeIn 0.5s ease-out both;
    user-select: none;
}

.toastblue {
    background-color: #19647e;
}

.toastgold {
    background-color: #f9c22e;
}

.toastsalmon {
    background-color: #f15946;
}

div.toasthidden {
    margin: 12px 0px;
    padding: 16px;
    color: white;
    box-shadow: #999999 0 0 12px 0;
    box-sizing: border-box;
    border-radius: 12px;
    animation: fadeOut 0.5s ease-in both;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

img.mute {
    float: right;
    width: 18px;
    height: 18px;
    margin-left: 4px;
    margin-bottom: 4px;
    background-image: url(@@STATIC:mute.png@@);
}

.muteoff {
    background-position: -18px 0px;
}

div.mute {
    padding: 4px 0 0 0;
    margin: auto;
    text-align: center;
}

div.mute input {
    position: relative;
    top: 2px;
}

label.mute {
    font-size: 84%;
}

/** park maps **/

div#map {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

div#map img.base {
    position: absolute;
}

div#map .icon {
    position: absolute;
    pointer-events: none;
}

div#map img.sparkle {
    opacity: 0;
    animation: fadeIn 2s ease-out forwards;
    animation-delay: 2s;
}

div#map img.delay_fade {
    opacity: 0;
    animation: fadeIn 0.75s ease-out forwards;
    animation-delay: 3s;
}

div#map div.p {
    position: absolute;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 144%;
    color: white;
    pointer-events: none;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

.right {
    float: right;
}

.itemlist {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

.unsolved {
    color: #999;
    font-weight: bold;
    font-style: italic;
}

.solved {
    font-weight: bold;
}

@keyframes twist {
    0% {
	transform: rotate(0.0deg) translateX(0px) scale(0.1) rotate(0.0deg);
	opacity: 0;
    }
    5% {
	opacity: 1;
    }
    70% {
	opacity: 1;
    }
    100% {
	transform: rotate(135.0deg) translateX(1px) scale(0.3) rotate(540.0deg);
	opacity: 0;
    }
}

.star {
    opacity: 0;
    animation: twist 3.0s ease-out forwards;
    /*animation-delay: 1.0s;*/
}

