body {
    font-family: sans-serif;
}

.goog-modalpopup {
    background: #fff;
    border: 3px solid #003399;
    color: #000;
    padding: 4px;
    position: absolute;
}

.goog-modalpopup-bg {
    background: #111111;
    opacity: 0.7;
    left: 0;
    position: absolute;
    top: 0;
}

table.submissions {
    padding: 20px;
}
table.submissions td { vertical-align: middle; }

.submit-time {
    padding-top: 8px;
    width: 140px;
}
.submit-state {
    width: 120px;
    text-align: right;
    padding-right: 8px;
}
.submit-answer {
    font-weight: bold;
    font-family: Consolas, monospace;
    width: 400px;
}

.submit-correct {
    padding: 0px 4px;
    font-weight: bold;
    font-size: 70%;
    border: 1px solid #009900;
    border-radius: 4px;
    color: #009900;
    background-color: #ddffdd;
    text-transform: uppercase;
}

.submit-partial {
    padding: 0px 4px;
    font-weight: bold;
    font-size: 70%;
    border: 1px solid #999900;
    border-radius: 4px;
    color: #999900;
    background-color: #ffffdd;
    text-transform: uppercase;
}

.submit-incorrect {
    padding: 0px 4px;
    font-weight: bold;
    font-size: 70%;
    border: 1px solid #990000;
    border-radius: 4px;
    color: #990000;
    background-color: #ffdddd;
    text-transform: uppercase;
}

.submit-pending {
    padding: 0px 4px;
    margin-left: 8px;
    font-weight: bold;
    font-size: 70%;
    border: 1px solid #666666;
    border-radius: 4px;
    color: #666666;
    background-color: #dddddd;
    text-transform: uppercase;
}

.submit-timer {
    font-weight: bold;
    font-size: 84%;
}

.submit-extra {
    padding-left: 16px;
}

input#answer {
    z-index: 10000;
    font-family: monospace;
}

.flavor {
    font-style: italic;
}
