body {
    font-family: sans-serif;
}

.goog-modalpopup {
    background: #fff;
    border: 2px solid #00cc00;
    color: #000;
    padding: 4px;
    position: absolute;
}

.goog-modalpopup-bg {
    background: #222;
    opacity: 0.7;
    left: 0;
    position: absolute;
    top: 0;
}

table.submit-history {
    padding: 20px;
    width: 600px;
}
