{% extends "static_base.html" %}

{% block title %}Credits{% end %}

{% block content %}
<div id="content">
  <h1 id="pagetitle">Credits</h1>
  <p class="disclaimer">This is not a puzzle.</p>

  <h2>Kick-off</h2>
  <ul>
    <li><b>Wedding Officiant</b> &ndash; Evan Davis</li>
    <li><b>Bride</b> &ndash; Gaby Weidling</li>
    <li><b>Groom</b> &ndash; Mark Gottlieb</li>
    <li><b>Penny</b> &ndash; Summer Herrick</li>
    <li><b>Centime the Flapper</b> &ndash; Shelly Manber</li>
    <li><b>Dirham the Wizard</b> &ndash; Brent Holman</li>
    <li><b>Kobo the Big Bad Wolf</b> &ndash; Kevin Schraith</li>
    <li><b>Kopek the Clown</b> &ndash; Todd Etter</li>
    <li><b>Luma the Astronaut</b> &ndash; Matt Hartman</li>
    <li><b>Queen Paisa</b> &ndash; Jan Chong</li>
    <li><b>King Jeon</b> &ndash; Chris Harris</li>
    <li><b>Park rules</b> &ndash; Corin Anderson</li>
    <li><b>Stagehand 1</b> &ndash; Jeff Stribling</li>
    <li><b>Stagehand 2</b> &ndash; David Andre</li>
    <li><b>A/V technician</b> &ndash; Jonathan McCue</li>
    <li><b>Stage manager</b> &ndash; Rich Bragg</li>
    <li><b>Ushers</b> &ndash; Chen Chen, Philip Dasler, Charlie Graham, Justin Graham, Ann Etter, John Owens, Martin Reinfried, Jessen Yu</li>
    <li><b>Player check-in</b> &ndash; Jenna Himawan, Nina Hinrichs, Julia Wagner</li>
  </ul>

  <h3>Promotional Penny Park video</h3>
  <ul>
    <li><b>Written</b> by Todd Etter, Chris Harris, Matt Hartman, Summer Herrick</li>
    <li><b>Produced</b> by Austin Bragg</li>
    <li><b>Judy</b> &ndash; Alison Southwick</li>
    <li><b>Centime</b> &ndash; Cheryl Palting</li>
    <li><b>Dirham</b> &ndash; Cary Reese</li>
    <li><b>Kobo</b> &ndash; Austin Bragg</li>
    <li><b>Kopek</b> &ndash; Matt Hartman</li>
    <li><b>Luma</b> &ndash; Jack Reda</li>
    <li><b>Paisa</b> &ndash; Ann Etter</li>
    <li><b>Jeon</b> &ndash; Todd Etter</li>
  </ul>

  <h2> Penny Park Actors and story</h2>
  <ul>
    <li><b>Penny</b> &ndash; Summer Herrick (lead), Shelly Manber, Tammy McLeod</li>
    <li><b>Centime the Flapper</b> &ndash; Shelly Manber</li>
    <li><b>Dirham the Wizard</b> &ndash; Brent Holman</li>
    <li><b>Kobo the Big Bad Wolf</b> &ndash; Kevin Schraith (lead), David Andre, Ian Tullis</li>
    <li><b>Kopek the Clown</b> &ndash; Todd Etter (lead), Philip Dasler, Charlie Graham</li>
    <li><b>Luma the Astronaut</b> &ndash; Matt Hartman</li>
    <li><b>Queen Paisa</b> &ndash; Jan Chong (lead), Gaby Weidling</li>
    <li><b>King Jeon</b> &ndash; Chris Harris (lead), Mark Gottlieb</li>
    <li><b>Tinkerer</b> &ndash; Ben de Bivort (lead), Nick Baxter, Ylaine Gerardin, Wei-Hwa Huang, Jesse Morris, Gaby Weidling</li>
    <li><b>Tinkerer’s Assistant</b> &ndash; Ylaine Gerardin (lead), Will Blatt, Wei-Hwa Huang, Mark Gottlieb</li>
  </ul>

  <h3>Interactive attractions</h3>
  <ul>
    <li><b>Interactive attractions manager</b> &ndash; Mike Springer</li>
    <li><b>Balloon Vendor</b> &ndash; David Harmin (lead), David Andre (lead), Nick Baxter, Rich Bragg, Shelly Manber</li>
    <li><b>Fortune Teller</b> &ndash; Charlie Graham, Justin Graham, Chris Harris, Nami Hashimoto, Shelly Manber, Tammy McLeod, Yar Woo</li>
    <li><b>4 Dead in 5 Seconds Cowgirl</b> &ndash; Melinda Owens</li>
    <li><b>In Space, No One Can Hear You Sing</b> &ndash; Rich Bragg (“Rick Rocket”, lead), Will Blatt, Chen Chen, Jesse Morris</li>
    <li><b>Weakest Carouselink</b> &ndash; Ian Tullis (lead), Chen Chen, Tim Etter, Matt Hartman, Chris Yao</li>
    <li><b>Dance Party bouncer</b> &ndash; Dan Egnor (lead)</li>
    <li><b>Concierge Services</b> &ndash; Eric Prestemon (125 calls!), Walker Anderson, David Andre, Will Blatt, Mark Gottlieb, Charlie Graham, Justin Graham, James Griffith, John Owens, Martin Reinfried, Jeff Stribling, Ian Tullis, Asher Walkover, Gaby Weidling, Matt Wolak, Yar Woo, Chris Yao</li>
  </ul>

  <h3>Events</h3>
  <ul>
    <li><b>Event operations lead</b> &ndash; Evan Davis</li>
    <li><b>Midway</b> &ndash; Jonathan McCue (lead), Summer Herrick (lead), Chris Guthrie (lead builder), Philip Dasler, Tyler Guthrie, Casey Holman, Larry Hosken (hot dog cook), Wei-Hwa Huang, John Owens, Mike Springer, Jeff Stribling, David Tytell, Ellie Tytell, Asher Walkover, Jessen Yu</li>
    <li><b>Infinite Robot Parade</b> &ndash; Linda Holman (lead), Philip Dasler (lead), Rich Bragg, Chen Chen, Tim Etter, Matt Hartman, John Owens, Matisse Peppet, Jessen Yu</li>
    <li><b>Character Breakfast</b> &ndash; Charlie Graham (lead), Connor Anderson, Chen Chen, Justin Graham, Matt Hartman, Linda Holman, John Owens, Kevin Schraith, Mike Springer, Jessen Yu</li>
    <li><b>Build-a-wand Workshop</b> &ndash; Brent Holman (lead), Ann Etter, Justin Graham, Jonathan McCue, Kevin Schraith, Jessen Yu</li>
    <li><b>Fireworks</b> &ndash; Rachel Petterson (lead), Connor Anderson, Linda Holman</li>
  </ul>

  <h3>History of the Park Videos</h3>
  <ul>
    <li><b>Storyboards</b> by Brian Mendenhall</li>
    <li><b>Art</b> by Chloe Alcock</li>
    <li><b>Produced</b> by Todd Etter</li>
    <li>Video 1 <br>Music from <a href="https://filmmusic.io">https://filmmusic.io</a><br>
      <i>Winter Chimes</i> by Kevin MacLeod (<a href="https://incompetech.com">https://incompetech.com</a>)<br>
      License: CC BY (<a href="http://creativecommons.org/licenses/by/4.0/">http://creativecommons.org/licenses/by/4.0/</a>)</li>
    <li>Video 2 <br>Music from <a href="https://filmmusic.io">https://filmmusic.io</a><br>
      <i>The Builder</i> by Kevin MacLeod (<a href="https://incompetech.com">https://incompetech.com</a>)<br>
      License: CC BY (<a href="http://creativecommons.org/licenses/by/4.0/">http://creativecommons.org/licenses/by/4.0/</a>)</li>
    <li>Video 3 <br>Music from <a href="https://filmmusic.io">https://filmmusic.io</a><br>
      <i>Reaching Out</i> by Kevin MacLeod (<a href="https://incompetech.com">https://incompetech.com</a>)<br>
      License: CC BY (<a href="http://creativecommons.org/licenses/by/4.0/">http://creativecommons.org/licenses/by/4.0/</a>)</li>
    <li>Video 4 <br>Music from <a href="https://filmmusic.io">https://filmmusic.io</a><br>
      <i>Moonlight Hall</i> by Kevin MacLeod (<a href="https://incompetech.com">https://incompetech.com</a>)<br>
      License: CC BY (<a href="http://creativecommons.org/licenses/by/4.0/">http://creativecommons.org/licenses/by/4.0/</a>)</li>
    <li>Video 5 <br>Music from <a href="https://filmmusic.io">https://filmmusic.io</a><br>
      <i>Bittersweet</i> by Kevin MacLeod (<a href="https://incompetech.com">https://incompetech.com</a>)<br>
      License: CC BY (<a href="http://creativecommons.org/licenses/by/4.0/">http://creativecommons.org/licenses/by/4.0/</a>)</li>
    <li>Video 6 <br>Music from <a href="https://filmmusic.io">https://filmmusic.io</a><br>
      <i>Continue Life</i> by Kevin MacLeod (<a href="https://incompetech.com">https://incompetech.com</a>)<br>
      License: CC BY (<a href="http://creativecommons.org/licenses/by/4.0/">http://creativecommons.org/licenses/by/4.0/</a>)</li>
  </ul>

  <h2>Guest Services</h2>
  <ul>
    <li><b>HQ managers</b> &ndash; Nina Hinrichs, Linda Holman</li>
    <li><b>Character & Guest Services dispatcher</b> &ndash; David Andre, Ann Etter, Larry Hosken</li>
    <li><b>Hunt Control</b> &ndash; Corin Anderson, Yar Woo</li>
    <li><b>Tech Watch</b> &ndash; Doug Zongker</li>
    <li><b>Guess Services</b> (Hint team)</li>
    <ul>
      <li><b>Lead</b> &ndash; Jeff Stribling</li>
      <li><b>Hint Responses</b> &ndash; Misha Jamy (450+ hints given!), Will Blatt, Rich Bragg, Jan Chong, Ylaine Gerardin, Justin Graham, Larry Hosken, Wei-Hwa Huang, Shelly Manber, Melinda Owens, Martin Reinfried, Jeff Stribling, Asher Walkover, Yar Woo, Chris Yao, Jessen Yu</li>
      <li><b>Hinteractions</b> &ndash; Martin Reinfried, Jeff Stribling, Jessen Yu</li>
    </ul>
    <li><b>guestservices@pennypark.fun</b> &ndash; James Griffith (lead), Corin Anderson</li>
    <li><b>Call center</b> &ndash; Justin Graham (lead), Charlie Graham, Eric Prestemon</li>
    <li><b>General park staff</b> &ndash; Walker Anderson, Tim Etter, Chris Guthrie, Tyler Guthrie, David Harmin, Matt Wolak, Jessen Yu</li>
    <li><b>HQ food</b> &ndash; Kiki Bragg (lead), Casey Holman</li>
    <li><b>Video editing</b> &ndash; Casey Holman</li>
  </ul>

  <h2>Penny Park development</h2>

  <h3>Triumvirate</h3>
  <ul>
    <li><b>Producer</b> &ndash; Corin Anderson</li>
    <li><b>Director</b> &ndash; Todd Etter</li>
    <li><b>Puzzle Editor-in-Chief</b> &ndash; Yar Woo</li>
  </ul>

  <h3>Czars</h3>
  <ul>
    <li><b>Art czar</b> &ndash; Natalie Parisi</li>
    <li><b>Tech czar (pennypark.fun)</b> &ndash; Doug Zongker</li>
    <li><b>Team czar</b> &ndash; Dan Egnor</li>
    <li><b>Hunt Ops czar</b> &ndash; Linda Holman</li>
    <li><b>Finance czar</b> &ndash; Nina Hinrichs</li>
    <li><b>Testing czar</b> &ndash; Martin Reinfried</li>
    <li><b>Production czar</b> &ndash; Larry Hosken</li>
    <li><b>Consigliere</b> &ndash; Brent Holman</li>
    <li><b>MIT liaison</b> &ndash; David Tytell</li>
    <li><b>Puzzle Excellence czar</b> &ndash; Jeff Stribling</li>
  </ul>

  <h3>General roles</h3>
  <ul>
    <li><b>Meta-puzzle team</b> &ndash; Todd Etter, Mark Gottlieb, Nina Hinrichs, Brent Holman, Wei-Hwa Huang, Jonathan McCue, Ian Tullis, Yar Woo</li>
    <li><b>Location-based puzzle coordinator</b> &ndash; Ylaine Gerardin</li>
    <li><b>ClueKeeper coordinator</b> &ndash; Linda Holman</li>
    <li><b>Puzzle HTMLification</b> &ndash; Larry Hosken (lead), Rich Bragg, Jan Chong, Wei-Hwa Huang, Laura Klein, Tammy McLeod, Chris Yao</li>
    <li><b>Hint editing</b> &ndash; Wei-Hwa Huang, Jan Chong</li>
    <li><b>Puzzle excellence</b> &ndash; Wei-Hwa Huang, Jessen Yu</li>
    <li><b>Hunt control analysis</b> &ndash; Asher Walkover</li>
    <li><b>Hint system development</b> &ndash; Corin Anderson, Rich Bragg, Todd Etter, Wei-Hwa Huang, Asher Walker, Yar Woo</li>
    <li><b>Tech development</b> &ndash; Doug Zongker (lead), Rich Bragg</li>
    <li><b>Additional puzzle author</b> &ndash; Nick Parisi</li>
    <li><b>Additional test solving</b> &ndash; Alison Howard, Trisha Huang, Misha Jamy, Laura Klein, Eric Prestemon</li>
    <li><b>Playtest party hosts</b> &ndash; Kiki Bragg, Rich Bragg, Jan Chong, Yar Woo</li>
    <li><b>Heart of the Park</b> &ndash; Ben de Bivort (lead), Ylaine Gerardin, Ofer Mazor</li>
    <li><b>Student Events manager</b> &ndash; Connor Anderson</li>
    <li><b>Student classrooms manager</b> &ndash; Walker Anderson</li>
    <li><b>Unattached Hunter attacher</b> &ndash; Shelly Manber</li>
    <li><b>MIT Room assignments</b> &ndash; Jesse Morris</li>
    <li><b>Physical stuff wrangler</b> &ndash; John Ananny</li>
    <li><b>Costumes lead</b> &ndash; Rachel Petterson</li>
    <li><b>Sponsorship</b> &ndash; Jenna Himawan, John Owens</li>
    <li><b>Production baby</b> &ndash; Leo Parisi</li>
  </ul>


  <h2>Special thanks</h2>
  <ul>
    <li>Mike Burns, Kal Banger, Scott Bevis of the Rowland Institute at Harvard &ndash; lending an STM to serve as the Heart of the Park core.</li>
    <li>Ed Soucy and Brett Graham of the Harvard Neurotechnology Core &ndash; loan of shop space, tools and supplies to prepare the penny mills and finale gizmo.</li>
    <li>Dave “Rico” Fisher &ndash; ClueKeeper and Zappar programming.</li>
    <li>Will Shortz, editor of the New York Times Magazine puzzles &ndash; indulging our outlandish idea of having all four authors on the same high-profile puzzle page contribute to a multi-stage three-answer hidden puzzle.</li>
    <li>Dante Gagne and the entire group of solvers at Microsoft &ndash; testing part of the Hunt.</li>
    <li>Twitter and other contributors for the twemoji library.  Graphics licensed under CC-BY 4.0: <a href="https://creativecommons.org/licenses/by/4.0/">https://creativecommons.org/licenses/by/4.0/</a>.</li>
    <li>Amanda O’Connor &ndash; Hotels Liaison for Marriott Kendall Square, Le Meridian, Hyatt Regency, The Kendall</li>
    <li>Julia Wagner and Jenna Himawan of Puzzle Club &ndash; for representing Hunt 2020 to MIT</li>
    <li>Ethan Feuer, MIT Director of Student Organizations and Engagement &ndash; negotiating on behalf of Puzzle Club with numerous stakeholders across MIT for all Hunt-related needs including room allocations, safety concerns, contracts, waivers, and overnight exemptions. </li>
    <li>Our generous <a href="/sponsors">sponsors & supportive partners</a>.</li>
    <li>Those that created the MIT Mystery Hunt tradition.</li>
    <li>MIT.</li>
  </ul>
</div>


{% end %}
