{% extends "puzzle.html" %}

{% block title %}{{puzzle.title}} (Solution){% end %}

{% block topnav_extraright %}
<a href="..">Back to puzzle</a>
{% end %}

{% block head %}
<meta name="robots" content="nosnippet">
<script>
  var puzzle_init = null;
</script>

{% if puzzle.solution_head %}{% raw puzzle.solution_head %}{% elif puzzle.html_head %}{% raw puzzle.html_head %}{% end %}

<script>
  window.onload = puzzle_init;
</script>
{% end %}


{% block content %}

<div id="content">

  <h2 id="puzzletitle"><div id=vspace></div>{% raw supertitle %}<a href="../..">Events:</a> {{puzzle.title}}</h2>

  <p class=solutionheader>{{authors}}<br>
    Answer{% if len(puzzle.answers) > 1 %}s{% end %}: {{", ".join(puzzle.answers)}}
    </p>

  <div id="puzz">
    {% if solution_url %}
    {% raw puzzle.html_body %}
    {% else %}
    {% raw puzzle.solution_body %}
    {% end %}
  </div>
</div>
{% end %}
