{% extends "static_base.html" %}

{% block title %}{{puzzle.title}}{% end %}

{% block topnav_extraright %}
<div id="static-checker" style="visibility: hidden">
  <input type="text" id="static-checker-guess">
  <span id="static-checker-button"></span>
</div>
<a id="solution" href="solution/">Solution</a>
{% end %}

{% block head %}
<script src="/static-checker.js"></script>
<script>
  var puzzle_init = null;
  window.onload = function() {
      if (puzzle_init) puzzle_init();
      init_checker();
  }
</script>
{% if puzzle.static_puzzle_head %}{% raw puzzle.static_puzzle_head %}{% elif puzzle.html_head %}{% raw puzzle.html_head %}{% end %}
{% end %}


{% block content %}
<div id="content">
  <h2 id="puzzletitle"><div id=vspace></div>{% raw supertitle %}<a href="..">Events:</a> {{puzzle.title}}</h2>
  <div id="errata"></div>
  <div id="puzz">
    {% if puzzle.static_puzzle_body %}{% raw puzzle.static_puzzle_body %}{% else %}{% raw puzzle.html_body %}{% end %}
  </div>
</div>

{% end %}
