{% extends "static_base.html" %}

{% block title %}Heart of the Park (Solution){% end %}

{% block topnav_extraright %}
<a href="..">Back to puzzle</a>
{% end %}

{% block content %}
<div id="content" class="RunaroundPage">
  <h1 id="pagetitle">Heart of the Park</h1>

<center><img src=image8.jpg width=700></center>
<p>There are ten runarounds that can be completed simultaneously by splitting up into small groups.</p>

<h2>The Grand Castle</h2>
  <p class=solutionheader>by Todd Etter, Linda Holman and Mike Springer<br>
    Answer: PLAN REGICIDE
  </p>

<center><img src=image3.jpg width=300></center>
<p>The runaround starts in the lobby of Building 7, as evidenced by the King’s comment about lobbying for a 7th husband.  The path travelled from Building 7 to 9 to 33 and finally to 35.  Each stanza of the dialog between king and queen identified a particular place and a particular word (or words) found in that location.  The king and queen wanted different extractions.  The comments about finding “middle ground” was a clue to take the midpoint of their two letters.</p>
<center>
<table cellspacing="5">
	<tr><th>Object/Word</th><th>King’s Letter</th><th>Queen's Letter</th><th>Midpoint of Queen & King</th></tr>
	<tr><td>ADVANCEMENT/DEVELOPMENT</td><td>T</td><td>P</td><td>R</td></tr>
	<tr><td>LIGHTING/ILLUMINATED</td><td>I</td><td>A</td><td>E</td></tr>
	<tr><td>DESIGN/ARCHITECTURE</td><td>I</td><td>E</td><td>G</td></tr>
	<tr><td>JIM/JAMES</td><td>M</td><td>E</td><td>I</td></tr>
	<tr><td>SPACECRAFT/VEHICLE</td><td>A</td><td>E</td><td>C</td></tr>
	<tr><td>GUIDANCE/NAVIGATION</td><td>D</td><td>N</td><td>I</td></tr>
	<tr><td>DOCKING/RENDEZVOUS</td><td>C</td><td>E</td><td>D</td></tr>
	<tr><td>INSTRUCTION/TEACHING</td><td>I</td><td>A</td><td>E</td></tr>
	</table>
</center>
<p>Upon completing the above steps, the final step was to locate a four word message on a nearby wall THINK PLAN BUILD CITIES, where the second word (PLAN) was extracted to be prepended to the above word (REGICIDE).  Consequently, the final answer was PLAN REGICIDE.  Entering this into the answer checker informed teams that they needed to recreate their favorite fictional regicide.</p>


<h2>Storybook Forest</h2>
<p class=solutionheader>by Todd Etter, Linda Holman and David Tytell<br>Answer: RECITE ZANY POEM</p>
<center><img src=image2.jpg width=300></center>
<p>As the flavortext states, this runaround “starts” at the small lending library at the corner of Main Street and Ames.  Hunters quickly realize that these directions are actually presented in reverse order, so in fact Hansel and Gretel are ending at the Library, and the solvers should follow the breadcrumbs backwards to the origin of their trip.</p>
<center>
<table cellspacing="5">
	<tr><th>Breadcrumb</th><th>Result</th></tr>
	<tr><td>Letter K, shifted by 2</td><td>M</td></tr>
	<tr><td>Fifth from WASSERMAN</td><td>E</td></tr>
	<tr><td>Fire panel sign</td><td>O</td></tr>
	<tr><td>Course X sign</td><td>P</td></tr>
	<tr><td>Department of Biological Engineering</td><td>E</td></tr>
	<tr><td>Morse code floor tile pattern</td><td>T</td></tr>
	<tr><td>J. T. Dorrance sign</td><td>I</td></tr>
	<tr><td>One.MIT name initial</td><td>C</td></tr>
	<tr><td>Nano lab missing letter</td><td>E</td></tr>
	<tr><td>Micromosaics: Reins</td><td>R</td></tr>
	</table>
</center>
<p>Since teams were working backward, they should read the answer in the reverse order to get RECITE POEM.  The final instruction clues the hunters to a nearby sign where they needed to find the fifth word of the second sentence of the largest paragraph (BYZANTINE). Manipulating appropriately gives the word ZANY, so the final answer is RECITE ZANY POEM.   Entering this into the answer checker informed teams that they needed to recite the first two verses of Jabberwocky complete with interpretation.</p>

<h2>Spaceopolis</h2>
<p class=solutionheader>by Benjamin L de Bivort and Mike Springer<br>Answer: DEPICT THE MOONWALK</p>
<center><img src=image5.jpg width=300></center>
<p>As could be discerned from the provided photo, teams were to start this runaround on the third floor of Building 7, near room 7-302.  The entire length of this hallway contains small hemispherical models of the planets mounted to the wall; these are referred to as “Control Spheres” in the runaround.  Beneath each sphere is an image of a red sun (at the same scale as icons of each planet) which serve as “Emergency Reset Button”. The runaround consists of various visits to each of these planets, with the extra “twist” that issues with the gravity drive cause the hunter to float and rotate at times so that “up” is not always toward the ceiling of the building.  Keeping careful track of the changing orientation helps to properly interpret the letters seen from the location of each of the ERBs.</p>
<center>
<table cellspacing="5">
	<tr><th>Visiting Sequence</th><th>Planet</th><th>Letter Extracted</th></tr>
	<tr><td>1</td><td>Jupiter</td><td>W</td></tr>
	<tr><td>2</td><td>Venus</td><td>O</td></tr>
	<tr><td>3</td><td>Mercury</td><td>M</td></tr>
	<tr><td>4</td><td>Saturn</td><td>A</td></tr>
	<tr><td>5</td><td>Mars</td><td>N</td></tr>
	<tr><td>6</td><td>Uranus</td><td>L</td></tr>
	<tr><td>7</td><td>Earth</td><td>O</td></tr>
	<tr><td>8</td><td>Neptune</td><td>K</td></tr>
	</table>
</center>
<p>Reordering these in the order of the planets’ proximity to the sun gives the phrase MOONWALK.  Following the instructions in the final paragraph leads solvers to a plaque seen through a glass wall.  Extracting the second and third words from the last line of the third paragraph gives DEPICT THE, so the final answer is DEPICT THE MOONWALK.  Entering this into the answer checker informed teams that they needed to moonwalk from one end of the room to the other.</p>


<h2>Wizard's Hollow</h2>
<p class=solutionheader>by Todd Etter and Linda Holman<br>Answer: MAGIC TUNE</p>
<center><img src=image10.jpg width=300></center>
<p>The first step is to realize that the entire runaround takes place on a statue called “The Alchemist” found on the MIT campus. Follow one continuous path from one symbol to the next, taking the letter (or a letter that looks the most like the math symbol) where instructed.</p>
<center>
<table border=1 cellpadding="5">
	<tr><th>
start at delta on left shoulderblade of The Alchemist</th><th>&nbsp;</th><th>&nbsp;</th></tr>
	<tr><td>E to the C</td><td>This is your 5th</td><td>C</td></tr>
	<tr><td>SE to the 1</td><td>&nbsp;</td><td>&nbsp;</td></tr>
	<tr><td>E to the PHI</td><td>Remove circle, this is your 4th</td><td>I</td></tr>
	<tr><td>NE to the 8</td><td>&nbsp;</td><td>&nbsp;</td></tr>
	<tr><td>N to the BRACKET</td><td>&nbsp;</td><td>&nbsp;</td></tr>
	<tr><td>E to the M</td><td>This is your 1st</td><td>M</td></tr>
	<tr><td>NE to the TRIDENT</td><td>&nbsp;</td><td>&nbsp;</td></tr>
	<tr><td>E to the BETA</td><td>&nbsp;</td><td>&nbsp;</td></tr>
	<tr><td>E to the LESS THAN OR EQUAL</td><td>&nbsp;</td><td>&nbsp;</td></tr>
	<tr><td>S to the A</td><td>This is your 2nd</td><td>A</td></tr>
	<tr><td>E to the LOOP INTEGRAL (long line with circle)</td><td>&nbsp;</td><td>&nbsp;</td></tr>
	<tr><td>SW to the 2</td><td>&nbsp;</td><td>&nbsp;</td></tr>
	<tr><td>SW to the Z</td><td>&nbsp;</td><td>&nbsp;</td></tr>
	<tr><td>S to the T</td><td>This is your 6th</td><td>T</td></tr>
	<tr><td>SE to the 2</td><td>&nbsp;</td><td>&nbsp;</td></tr>
	<tr><td>E to the LOWERCASE PHI</td><td>&nbsp;</td><td>&nbsp;</td></tr>
	<tr><td>SE to the #</td><td>&nbsp;</td><td>&nbsp;</td></tr>
	<tr><td>NE to the BRACKET</td><td>&nbsp;</td><td>&nbsp;</td></tr>
	<tr><td>E to the M</td><td>&nbsp;</td><td>&nbsp;</td></tr>
	<tr><td>SE to the F</td><td>&nbsp;</td><td>&nbsp;</td></tr>
	<tr><td>S to the ROOT</td><td>&nbsp;</td><td>&nbsp;</td></tr>
	<tr><td>N to the farthest right E</td><td>This is your 9th</td><td>E</td></tr>
	<tr><td>NE to the PI</td><td>&nbsp;</td><td>&nbsp;</td></tr>
	<tr><td>NE to the (division bar)</td><td>&nbsp;</td><td>&nbsp;</td></tr>
	<tr><td>SE to the TRIDENT</td><td>Remove center line, this is your 7th</td><td>U</td></tr>
	<tr><td>S to the 9</td><td>&nbsp;</td><td>&nbsp;</td></tr>
	<tr><td>NE to the N</td><td>This is your 8th</td><td>N</td></tr>
	<tr><td>N to the G</td><td>This is your 3rd</td><td>G</td></tr>
</table>
</center>
<p>The final solution is MAGIC TUNE. Entering this into the answer checker informed teams that they needed to sing a song listing Harry Potter characters to the tune of Modern Major General.</p>



<h2>Yesterdayland</h2>
<p class=solutionheader>by Todd Etter, Linda Holman and Mike Springer<br>Answer: HOOP IT UP</p>
<p>The provided picture shows a barely discernible du Pont Court, which implies that the gold star is in the halls of Building 1 close to the intersection of Building 3.  A little hunting finds the following posters on the wall of one of the floors depicting timelines of impactful milestones for a variety of MIT course tracks, as seen in the photo below.</p>

<center><img src=image12.jpg width=500></center>

<p>Looking at the text, solvers should be able to match various snippets with milestones of a particular year.  Each paragraph indicated two separate years within the same course.  Transporting from one paragraph to the next was equivalent to transporting from a milestone to another milestone with an identical year in a different course.  From there, two new milestones were found.  This process continued until the end. The text near the end of the puzzle indicated you “could just shift your times forward based on each of the courses you took? You might need to wrap sometimes. Oh, and don’t forget to put things in order, of course!”  This implied that you should add the course number to the duration of time between the two years found, and take that result modulo 26 to get a letter.  This should be read in course order for the final message.  The data looked essentially like the following:</p>

<center>
<table cellpadding="5">
	<tr><th>Teleport Year</th><th>First Milestone Year</th><th>Second Milestone Year</th><th>Course</th><th>(Second-First+Course) mod 26)</th><th>Letter</th></tr>
	<tr><td>1865</td><td>1972</td><td>1984</td><td>3</td><td>15</td><td>O</td></tr>
	<tr><td>1984</td><td>2000</td><td>2004</td><td>16</td><td>20</td><td>T</td></tr>
	<tr><td>2004</td><td>1960</td><td>1961</td><td>20</td><td>21</td><td>U</td></tr>
	<tr><td>1961</td><td>1916</td><td>1929</td><td>2</td><td>15</td><td>O</td></tr>
	<tr><td>1929</td><td>1931</td><td>1938</td><td>1</td><td>8</td><td>H</td></tr>
	<tr><td>1938</td><td>1985</td><td>2010</td><td>10</td><td>9</td><td>I</td></tr>
	<tr><td>2010</td><td>1955</td><td>1975</td><td>22</td><td>16</td><td>P</td></tr>
	<tr><td>1975</td><td>1959</td><td>1969</td><td>6</td><td>16</td><td>P</td></tr>
	</table>
</center>
<p>Ordering by Course number gives the answer HOOP IT UP.  Entering this into the answer checker informed teams that they needed to twirl a hula hoop for 30 seconds.</p>


<h2>Big Top Carnival</h2>
<p class=solutionheader>by Todd Etter and Linda Holman<br>Answer: ELEPHANT IMPRESSION</p>
<center><img src=image7.jpg width=500></center>

<p>Teams started in the Stata parking garage, and followed the described path for the tiny clown car, which can easily drive up stairs and through doorways! At each “clown’s house” location, one particular clown name made the most sense. Using the number indicated by the large X, teams indexed into the clown’s name to get one letter per location. At the end of the journey, teams also found one item and took the full word, giving the final answer phrase ELEPHANT IMPRESSION.</p>

<center>
<table cellpadding="5">
	<tr><th>location</th><th>whole number</th><th>index number</th><th>clown name</th><th>letter</th></tr>
	<tr><td>P1 Elevator Service Room</td><td>32-0057</td><td>5</td><td>MR.OTIS</td><td>I</td></tr>
	<tr><td>MIT Hacks Fire Hydrant</td><td>(1971-1980)</td><td>1</td><td>MR.DOUSEFIRE</td><td>M</td></tr>
	<tr><td>Police Car</td><td>253-1212</td><td>2</td><td>SPEEDY</td><td>P</td></tr>
	<tr><td>Escher Sketch</td><td>1988</td><td>8</td><td>SKETCHER</td><td>R</td></tr>
	<tr><td>Professor Wolfgang Kettrle lab, Atomic Quantum Gasses Group</td><td>2016</td><td>6</td><td>GASSIE</td><td>E</td></tr>
	<tr><td>Sherman Fairchild bust</td><td>1973</td><td>3</td><td>MESSYFACE</td><td>S</td></tr>
	<tr><td>A Batteryless Thermoelectric Energy-Harvesting Interface Circuitm</td><td>0.35um</td><td>5</td><td>CHIPSY</td><td>S</td></tr>
	<tr><td>EG&G Education Center</td><td>34-201-A</td><td>2</td><td>MISS EGG</td><td>I</td></tr>
	<tr><td>Lab with wires on spools</td><td>36-258</td><td>2</td><td>COILY</td><td>O</td></tr>
	<tr><td>Display Case with 3d-printed Models</td><td>30P Photonic Crystal Models (2008)</td><td>8</td><td>PHILAMENTA</td><td>N</td></tr>
	<tr><td>Display Case with Models of animal skulls</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>ELEPHANT</td></tr>
	</table>
</center>
<p>Entering this into the answer checker informed teams that they needed to do an impression of an elephant.</p>


<h2>Creative Picture Studios</h2>
<p class=solutionheader>by Todd Etter, Linda Holman and Benjamin L de Bivort<br>Answer: CHAPLIN DANCE</p>
<center><img src=image9.jpg width=500></center>
<p>For this runaround, teams had to translate emoji into walking directions, mainly using landmarks or things they saw while walking. Each section gave a location and targeted a single letter from a word found at that location. The final section pointed teams to a sign where they took five letters, yielding a final word to add to their solution phrase.</p>

<p>As an example, the first section translates to:<br/>
Walk to building 14S-100<br/>
Look up: HUMANITIES AND SCIENCE LIBRARIES<br/>
Write SCIENCE (second letter)<br/>
This instruction gives the first letter of the solution: C</p>

<p>Note that about three or four days before Hunt, construction began at the library by the start of the runaround.  This made it a little more difficult, but not impossible, to find the first sign.  Hence the late addition of caution and construction emojis for the first location.</p>

<center>
<table cellspacing="5">
	<tr><th>Target word</th><th>Index</th><th>Letter</th></tr>
	<tr><td>SCIENCE</td><td>2</td><td>C</td></tr>
	<tr><td>THEATER</td><td>2</td><td>H</td></tr>
	<tr><td>IDEAS</td><td>4</td><td>A</td></tr>
	<tr><td>PEARL</td><td>1</td><td>P</td></tr>
	<tr><td>OWL</td><td>3</td><td>L</td></tr>
	<tr><td>ICOSAHEDRON (clued by its vertex figure 3^5)</td><td>1</td><td>I</td></tr>
	<tr><td>PROTECTION</td><td>10</td><td>N</td></tr>
	<tr><td>THE DINCA GROUP<br/><img src=image11.png width=150></td><td>various</td><td>DANCE</td></tr>
	</table>
</center>
<p>The final solution is CHAPLIN DANCE. Entering this into the answer checker informed teams that they needed to perform a version of Charlie Chaplin’s dinner roll dance.</p>


<h2>Safari Adventure</h2>
<p class=solutionheader>by Linda Holman and Benjamin L de Bivort<br>Answer: POSE YOGA</p>
<center><img src=image6.jpg width=500></center>
<p>After determining the location of this painting in building 2 (on the ground floor, at the farthest end of the hallway), teams are led on a “walking tour” of the safari sights, starting with a view through the window across the river. This is analogized as a view of a Mountain Range. At each view point, an animal or natural sight is named, and can be associated with a conspicuous object in that view, such as a sculpture or element of the building. No data needs to be collected at these points. Eventually, the trail leads up a high stairwell (the Safari Sky Tower) to a final view, and the reveal that a poster has been planted on site (below). Now teams may realize that all the natural sites were also the names of yoga poses (Mountain, Tree, Eagle, Cobra etc.). And that those names match the poses in the poster shown below:</p>
<center><img src=image4.png width=400></center>


<center>
<table cellspacing="5">
	<tr><th>Pose</th><th>Quantity (Index)</th><th>Letter</th></tr>
	<tr><td>PEACOCK</td><td>1</td><td>P</td></tr>
	<tr><td>COBRA</td><td>2</td><td>O</td></tr>
	<tr><td>TORTOISE</td><td>7</td><td>S</td></tr>
	<tr><td>TREE</td><td>3</td><td>E</td></tr>
	<tr><td>FIREFLY</td><td>7</td><td>Y</td></tr>
	<tr><td>MOUNTAIN</td><td>2</td><td>O</td></tr>
	<tr><td>EAGLE</td><td>3</td><td>G</td></tr>
	<tr><td>CAT</td><td>2</td><td>A</td></tr>
	</table>
</center>
<p>Indexing into each pose name by the number of pose images gives the answer POSE YOGA. Also thematic is that the top of the stairwell is very warm, and a suitable spot for hot yoga. Entering this into the answer checker informed teams that they needed to perform three animal-named yoga poses.</p>


<h2>Cascade Bay</h2>
<p class=solutionheader>by Benjamin L de Bivort<br>Answer: SURF GARGLE</p>
<center><img src=image1.png width=500></center>
<p>Teams start at the Departmental display case in the photo, which is across from 5-314. From there, they follow through pipes and flows as if they were a bit of water, stopping at various points to collect words from signage along the way. The words collected are numbered and correspond to the numbered blanks:</p>
<center>
<table cellspacing="5">
	<tr><td>1) Ship name</td><td>ESSO</td></tr>
	<tr><td>2) Ship name part 2</td><td>YORKSHIRE</td></tr>
	<tr><td>3) Bathroom sign</td><td>OF</td></tr>
	<tr><td>4) Bathroom sign part 2</td><td>ALL</td></tr>
	<tr><td>5) Bathroom sign part 3</td><td>USERS</td></tr>
	<tr><td>6) Green water pipe sign</td><td>CHILL</td></tr>
	<tr><td>7) Green water pipe sign part 2</td><td>WTR</td></tr>
	<tr><td>8) Green water pipe sign part 3</td><td>RTN</td></tr>
	<tr><td>9) Sign on door</td><td>AUTONOMOUS</td></tr>
	<tr><td>10) Museum sign above</td><td>NAUTICAL</td></tr>
	<tr><td>11) Museum sign above part 2</td><td>MUSEUM</td></tr>
	<tr><td>12) Small No. 1 ship type</td><td>BARGE</td></tr>
	<tr><td>13) Small No. 1 ship maker</td><td>GARGEAU</td></tr>
	</table>
</center>
<p>These words are then flowed into the grid at the bottom of the page according to the text rules and flow chart, resulting in the following:</p>

<center><img src=grid.png width=300></center>

<p>The letters eventually fill the grid and the answer SURFGARGLE is read out from the numbered positions. Faint, dashed letters in the grid provide confirmation of the flow mechanics along the way. Entering this into the answer checker informed teams that they needed to gargle a Beach Boys song.</p>

<h2>Cactus Canyon</h2>
<p class=solutionheader>by Todd Etter and James E Griffith<br>Answer: EPIC YODEL</p>
<p>Teams find their way to a plaster frieze near 7-434. From there, the cowboy narrative brings them to a particular hallway location where they have a duel with a member of the Crimson Gang. Their opponent calls out a number of items, and then “Turn around and draw!” at which point teams turn around and find those items on the opposing wall. Tracing the items in the order they were listed makes a letter.</p>
<center>
<table cellspacing="5">
	<tr><th>Gang Member</th><th>Letter</th></tr>
	<tr><td>Abe Crimson</td><td>Y</td></tr>
	<tr><td>Becca Crimson</td><td>O</td></tr>
	<tr><td>Charlie Crimson</td><td>K</td></tr>
	<tr><td>Darlene Crimson</td><td>E</td></tr>
	<tr><td>Edward Crimson</td><td>L</td></tr>
	<tr><td>Charlie Crimson</td><td>D</td></tr>
	</table>
</center>
<p>Over a series of duels with various gang members, they trace out and collect the letters YOKEL. The duel for the letter K was not lethal, and Charlie Crimson escapes. In a final duel, the teams face Charlie again and are mortally wounded, extracting a D that replaces the original K. As they lie in the “ground” preparing to meet their maker, they are clued to extract the word “EPIC” from a placard, leading to the final answer: EPIC YODEL. Entering this into the answer checker informed teams that they needed to perform an enthusiastic western yodel.</p>

</div>
{% end %}
