{% extends "static_base.html" %}

{% block title %}{{config["title"]}}{% end %}

{% block content %}
<h1 id="landtitle">{{config["title"]}}</h1>
<div id="content" class="map">

  <div id="map" style="width: {{base.size[0]}}px; height: {{base.size[1]}}px">
    <img src="map.png" class="base" usemap="#mapmap">
    {% for t in texts %}
    <div class="p" style="left: {{t.xywh[0]}}px; top: {{t.xywh[1]}}px; width: {{t.xywh[2]}}px; height: {{t.xywh[3]}}px">{{t.title}}</div>
    {% end %}
  </div>

  <map id="mapmap" name="mapmap">
    {% for a in areas %}
    <area shape="poly" coords="{{a.poly}}" href="{{a.target}}">
    {% end %}
  </map>

  <ul id="maplist">
    {% set lk = None %}
    {% for t in texts %}
    {% if t.sortkey[0] != 3 %}
    <li{% if lk is not None and t.sortkey[0] != lk %} class="spacebefore"{% end %}><a href="{{t.target}}">{{t.title}}</li>
    {% set lk = t.sortkey[0] %}
    {% end %}
    {% end %}
  </ul>

  <div id="overcontent"></div>
</div>
{% end %}
